body {
    background-color: rgb(29, 28, 28);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

header {
    text-align: center;
    font-size: 200%;
}

.header-button {
    background-color: transparent;
    border: 0;
    font-size: 200%;
    color: rgb(221, 221, 221);
    font-weight: bold;
    cursor: none;
    transition: 0.5s;
}

.header-button:hover {
    color: rgb(150, 93, 93);
    transition: 0.5s;
}

.header-button:active {
    opacity: 0;
    transition: 0.5s;
}

p {
    text-align: center;
    font-size: 200%;
    color: rgb(221, 221, 221);
    cursor: none;
    transition: 0.5s;
}

p:hover {
    color: rgb(150, 93, 93);
    transition: 0.5s;
}

.btn {
    width: 20%;
    margin-top: 2%;
    font-size: 200%;
    background-color: transparent;
    color: rgb(221, 221, 221);
    border-color: white;
    border-radius: 10%;
    cursor: none;
    transition: 0.5s;
    
}

.btn:hover {
    color: rgb(29, 28, 28);
    background-color: white;
    transition: 0.5s;
}

.next {
    width: 20%;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    transition: 0.5s;
}
