body {
    background-color: rgb(10, 10, 10);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.logo-container {
    margin-top: 20px;
    text-align: center;
}

.title-horloge {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(134, 134, 134);
    font-size: 50px;
    text-align: center;
}

img {
    transition: all 1.5s;
}

img:hover {
    transform: rotate(360deg) scale(1.1);
}

.links-container {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(27, 27, 27);
    opacity: 0.8;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.5s;
}

a:hover {
    color: rgb(245, 181, 79);
    transition: 0.5s;
}
